<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/plantilla :: layout(~{::contenido})">
    
    <head><link rel="stylesheet" th:href="@{/css/estilos.css}" /></head>

<body>
    <div th:fragment="contenido">
        <h2>Listado de Productos</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.nombre}">Nombre</td>
                    <td th:text="${producto.descripcion}">Descripción</td>
                    <td th:text="${#numbers.formatDecimal(producto.precio,1,2)}">Precio</td>
                    <td th:text="${producto.categoria.nombre}">Categoría</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
