<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
        <link rel="stylesheet" th:href="@{/css/estilos.css}" />

</head>
<body th:replace="layout/plantilla :: layout(~{::contenido})">

<div th:fragment="contenido">
    <main>
        <h2>Bienvenido a Farmacia Sanar</h2>
        <p>Esta es la página de inicio del sistema.</p>

        <h3>Video informativo sobre Paracetamol</h3>
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/9i6e9wDtwD0" 
            title="Video de Paracetamol" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </main>
</div>

    

</body>
</html>
