<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Farmacia</title>
  <link rel="stylesheet" href="./../../static/css/estilos.css">
</head>
<body th:fragment="layout">

<!-- Header -->
<header>
    <h1>Farmacia Sanar</h1>
</header>

<!-- Navbar -->
<nav>
    <ul>
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/productos}">Productos</a></li>
        <li><a th:href="@{/producto/nuevo}">Agregar Producto</a></li>
        <li><a th:href="@{/queja}">Quejas/Sugerencias</a></li>
    </ul>
</nav>

<!-- Contenido -->
<div th:replace="~{::content}"></div>

<!-- Footer -->
<footer>
    <p>&copy; 2025 Farmacia Sanar - Todos los derechos reservados</p>
</footer>

</body>
</html>
